/******************** TAG SELECTORDS *********************/
h1{
    color: red;
    font-size: 200px;
}
img:hover{
    background-color: gold;
}

/******************** CLASS SELECTORDS *********************/

.circular{
    border-radius: 50%;
}

/******************** ID SELECTORDS *********************/

#heading{
    color: blue;
}